<div class="app-container">
  <header>
    <img routerLink='' class="logo" src="../assets/logo2.png" alt="logo">
    <div class="buscador-container">
        <input class="buscador" type="text" placeholder="Buscar productos..." (input)="searchProducts($event)" focus="isFocusedSearch = true" (blur)="onBlur()" #searchInput >
        <ul class="sugerencias" *ngIf="filteredProducts.length > 0 && isFocusedSearch">
          <li *ngFor="let product of filteredProducts" (click)="selectProduct(product)">
            <a class="productSearch" [routerLink]="['/detalle-producto', product.id_product]">{{ product.product_name }}</a>
          </li>
        </ul>
    </div>

    
    <button class="inicio_sesion" routerLink="/login">Iniciar Sesión</button>
  </header>

  <nav>
    <button class="selector" (click)="toggleSidenav()">Mostrar Categorías</button>
    <app-side-panel *ngIf="showSidenav" (closePanelEvent)="closePanel()"></app-side-panel>

    <a routerLink='' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span>Inicio</span></a>
    <a routerLink="nuevos" routerLinkActive="active"><span>Nuevos</span></a>
    <a routerLink="ofertas" routerLinkActive="active"><span>Ofertas</span></a>
    <a routerLink="ventas" routerLinkActive="active"><span>Más vendidos</span></a>
    <a routerLink="atencion-al-cliente" routerLinkActive="active"><span>Atención al cliente</span></a>
    <a routerLink="tu-cesta" routerLinkActive="active"><span>Tu cesta</span></a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>&copy; 2025 Ecommerce. Todos los derechos reservados.</p>
  </footer>
</div>

