<div class="row justify-content-between">
    <div class="col-2">
        <div class="graficas-component-container">
            <a routerLink='/tarjeta_grafica' routerLinkActive="active">
                <img src="../assets/graficas.jpg" alt="graficas">
                <p>Tarjetas gráficas</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="placabase-component-container">
            <a routerLink='/placa_base' routerLinkActive="active">
                <img src="../assets/placabase.jpg" alt="placabase">
                <p>Placas base</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="ssd-component-container">
            <a routerLink='/ssd' routerLinkActive="active">
                <img src="../assets/ssd.jpg" alt="ssd">
                <p>SSD</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="ram-component-container">
            <a routerLink='/ram' routerLinkActive="active">
                <img src="../assets/ram.jpg" alt="ram">
                <p>Memorias ram</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="ram-component-container">
            <a routerLink='/procesadores' routerLinkActive="active">
                <img src="../assets/procesadores.jpg" alt="procesadores">
                <p>Procesadores</p>
            </a>
        </div>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-2">
        <div class="refrigeracion-component-container">
            <a routerLink='/refrigeracion' routerLinkActive="active">
                <img src="../assets/refrigeracion.jpg" alt="refrigeracion">
                <p>Refrigeración líquida</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="tarjeta_sonido-component-container">
            <a routerLink='/tarjetas_sonido' routerLinkActive="active">
                <img src="../assets/tarjetasonido.jpg" alt="tarjeta_sonido">
                <p>Tarjetas de sonidos</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="ventilador_suple-component-container">
            <a routerLink='/ventiladores_suple' routerLinkActive="active">
                <img src="../assets/ventilador_suple.jpg" alt="ventiladores_suple">
                <p>Ventiladores suplementarios</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="fuente_alimentacion-component-container">
            <a routerLink='/fuentes_alimentacion' routerLinkActive="active">
                <img src="../assets/fuente_alimentacion.jpg" alt="fuente_alimentacion">
                <p>Fuentes de alimentación</p>
            </a>
        </div>
    </div>
    <div class="col-2">
        <div class="ventilador_cpu-component-container">
            <a routerLink='/ventiladores_cpu' routerLinkActive="active">
                <img src="../assets/ventilador_cpu.jpg" alt="ventilador_cpu">
                <p>Ventiladores CPU</p>
            </a>
        </div>
    </div>
</div>
