.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

.pr-container {
    border: 1px solid #534c4c;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-pr-name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.p-pr-image-container {
    text-align: center;
}

.p-pr-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 30vh;
}

.p-pr-price {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}





